<h2><%= @domain.name %></h2>
<h3>Domain Aliases</h3>
<ul>
<% @domain.aliases.each do |a| %>
	<li><%= a %></li>
<% end %>
</ul>
<h3>Mailboxes</h3>
<table class="table table-hover">
<thead>
	<tr>
		<td></td>
		<td></td>
	</tr>
</thead>
<tbody>
<% @domain.mailboxes.each do |m| %>
		<tr>
			<td><a href="/domains/<%= @domain.name %>/mailboxes/<%= m.local_part %>"><%= m.local_part %></a></td>
			<td><a href="/domains/<%= @domain.name %>/mailboxes/<%= m.local_part %>/reset_password">Reset password</a></td>
		</tr>
<% end %>
</tbody>
</table>
<a href="/domains/<%= @domain.name %>/mailboxes/create">Create mailbox</a>
<br/>
<form action="/domains/<%= @domain.name %>" method="POST">
<p>Use Bytemark anti-spam servers? <input type="checkbox" name="antispam" <%= "checked" if @domain.uses_bytemark_antispam? %> value="1"/></p>
<input type="submit" name="submit" value="Update">
</form>
